<div ng-include="'app/common/navbar/navbar.html'"></div>
<div class="col-md-12" >
   <div ng-if='!prCtrl.isLoading'>
      <div class="sort-containment">
         <table style="width:100%" class="pr-table table table-bordered">
            <thead>
               <tr>
                  Power Rankings for Week {{prCtrl.period}}
               </tr>
               <tr class='pr-header'>
                  <th>Rank</th>
                  <th><a href="" ng-click="reverse=false;prCtrl.order('name', false)">Owner</a></th>
                  <th>Team</th>
                  <th><a href="" ng-click="reverse=!reverse;prCtrl.order('wins', reverse)">Record</a></th>
                  <th><a href="" ng-click="reverse=!reverse;prCtrl.order('pointsScored', reverse)">Points For</a></th>
                  <th><a href="" ng-click="reverse=!reverse;prCtrl.order('pointsAgainst', reverse)">Points Against</a></th>
                  <th>Last Week</th>
               </tr>
            </thead>
            <tbody id="sortable-owners" ui-sortable="prCtrl.sortableOptions" ng-model='prCtrl.owners'>
               <tr ng-repeat="owner in prCtrl.owners" style="cursor:move;">
                  <td align="center">{{$index + 1}}</td>
                  <td >{{owner.name}}</td>
                  <td >{{owner.team}}</td>
                  <td >{{owner.wins}} - {{owner.losses}} - {{owner.ties}}</td>
                  <td >{{owner.pointsScored}}</td>
                  <td >{{owner.pointsAgainst}}</td>
                  <td >{{owner.previousWeek}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <button ng-click="prCtrl.submitRankings()">Submit</button>
   </div>
</div>
